@model FlowAuth.Models.Leave

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Leave</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Leave_type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Leave_type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Leave_days_taken)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Leave_days_taken)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Leave_startDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Leave_startDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Leave_endDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Leave_endDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Leave_motivation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Leave_motivation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Leave_status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Leave_status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staff)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staff.Staff_fullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppUser.Staff.Staff_fullName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LeaveID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
