@model FlowAuth.Models.Claim

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Claim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Claim_amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Claim_amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Claim_description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Claim_description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Claim_status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Claim_status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Claim_date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Claim_date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Staff)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Staff.Staff_fullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppUser.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ClaimID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
