@model FlowAuth.Models.Phase

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Phase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Phase_startDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phase_startDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phase_endDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phase_endDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phase_budget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phase_budget)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhaseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhaseName.Phase_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Project_Code)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PhaseID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
